.boton {
   border-top: 1px solid #f797f5;
   background: #d665d4;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e88), to(#d665d4));
   background: -webkit-linear-gradient(top, #9c3e88, #d665d4);
   background: -moz-linear-gradient(top, #9c3e88, #d665d4);
   background: -ms-linear-gradient(top, #9c3e88, #d665d4);
   background: -o-linear-gradient(top, #9c3e88, #d665d4);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #e3e0e3;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.boton:hover {
   border-top-color: #602878;
   background: #602878;
   color: #fcfcfc;
}
.boton:active {
   border-top-color: #5c1b44;
   background: #5c1b44;
}
.left{
   float: left;
}
.right{
   float: right;
}
.centro{
   text-align: center;;
}
main{
   padding-left: 20px;
   padding-right: 25px;
}