.left{
	float: left;
}
.right{
	float: right;
}
.centro{
	text-align: center;;
}
main{
	padding-left: 20px;
	padding-right: 25px;
}
#tabla{
	border: 4em;
	border-color: #00cc99;
	//background-color: #00cc99;
}
header, footer{
	font-family: Impact, Charcoal, sans-serif;
}
#aboutME{
	color: #cc0066;
}
#hobbies{
	color:  #660033;
}
p{
	color: #33001a;
}
article{
	font-family: serif;
}
header h5{
	color: #cc0066;
	font-family: arial;
}
th{
	background-color: #ffe6f2;
}
td{
	color: #b30059;
}
ul li {
	font-family: sans-serif;
}
ol li{
	color: #e60073;
}